.cards {
    width: auto;
    height: 370px;
    margin: 5px 0px 5px 5px;
    border-style: none;
}

.card-body {
    height: 370px;
}

.tarjeta-img {
    width: 350px;
    height: 190px;
}

.text {
    font-size: 1em;
}